<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ストレッチタイマー</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&family=Mochiy+Pop+One&display=swap" rel="stylesheet">
<<<<<<< HEAD
=======
    
>>>>>>> 08f4d1068bd60e730d20448cc80116fceafb949d
</head>

<body>
    <header class="header">
        <div class="header-inner">
            <a href="/" class="header-title">
                <div class="stretch-img"><img src="/images/stretch.webp" alt=""></div>
                <p>ストレッチタイマー</p>    
            </a>
            <div class="header-menu">
                <div class="login">
                    <a href="/signup" class="sign-up">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        <p>ログイン</p>
                    </a>
<<<<<<< HEAD
                </div>      
=======
                </div>
                <div class="setting-btn">
                    <i class="fa-solid fa-gears"></i>
                </div>
                <div class="setting-menu">
                    <div class="menu-title">設定</div>
                    <div class="menu-item">背景</div>
                    <div class="menu-item">音楽</div>
                    <div class="menu-item">その他</div>
                </div>   
>>>>>>> 08f4d1068bd60e730d20448cc80116fceafb949d
            </div>
        </div>
    </header>
    <div class="humberger-menu"><i class="fa-solid fa-bars"></i></div>
    <main class="main">
        <ul class="slide-menu">
            <li class="menu-item">背景</li>
            <li class="menu-item">BGM</li>
            <li class="menu-item">効果音</li>
        </ul>
        <div class="timer-img"><img src="/images/timer.webp" alt="timer"></div>
        <p id="default"></p>  
            <select id="count" name="count">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30" selected>30</option>
                <option value="40">40</option>
                <option value="50">50</option>
                <option value="60">60</option>
            </select>
            <select id="rest" name="rest">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15" selected>15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
            </select>
            <input id="button1" type="button" value="始める" onclick="count_start()">
    </main>
<<<<<<< HEAD
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="js/jquery.js"></script>
=======
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
>>>>>>> 08f4d1068bd60e730d20448cc80116fceafb949d
    <script src="js/script.js"></script>
</body>
</html>