<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ストレッチタイマー</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&family=Mochiy+Pop+One&display=swap" rel="stylesheet">
    <script src="js/script.js"></script>
</head>

<body>
    <header class="header">
        <div class="header-inner">
            <a href="/" class="header-title">
                <div class="stretch-img"><img src="/images/stretch.webp" alt=""></div>
                <p>ストレッチタイマー</p>    
            </a>
            <div class="header-menu">
                <div class="login">
                    <a href="/signup" class="sign-up">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        <p>ログイン</p>
                    </a>
                </div>
                <a href="/setting" class="setting">
                    <i class="fa-solid fa-gears"></i>
                </a>   
            </div>
        </div>
    </header>
    <main class="main">
        <div class="timer-img"><img src="/images/timer.webp" alt="timer"></div>
        <p id="default">10</p>
        <input id="button1" type="button" value="ボタンを押す" onclick="count_start()">
    </main>
</body>
</html>