<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ストレッチタイマー</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&family=Mochiy+Pop+One&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="header-inner">
            <a href="/" class="header-title">
                <div class="stretch-img"><img src="/images/stretch.webp" alt=""></div>
                <p>ストレッチタイマー</p>    
            </a>
            <div class="header-menu">
                <div class="login">
                    <a href="/signup" class="sign-up">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        <p>ログイン</p>
                    </a>
                </div>      
            </div>
        </div>
    </header>
    <div class="humberger-menu"><i class="fa-solid fa-bars"></i></div>
    <main class="main" id="green">
        <ul class="slide-menu">
            <div class="menu-exit"><i class="fa-solid fa-xmark"></i></div>
            <div class="menu-title">設定</div>
            <li class="menu-item">
                <div class="menu-item-title">タイマー<span class="slide-icon">+</span></div>
                <div class="menu-item-content timer">
                    <label for="count" class="label">カウント：</label><input type="number" class="timer-setting" id="count" name="count" min="10" max="120" step="5" required="required" value="30">
                    <label for="rest">インターバル：</label><input type="number" class="timer-setting" id="rest" name="rest" min="5" max="30" step="5" required="required" value="5">
                    <label for="rest">セット：</label><input type="number" class="timer-setting" id="set" name="set" min="5" max="30" step="5" required="required" value="4">
                </div>
            </li>
            <li class="menu-item">
                <div class="menu-item-title">背景<span class="slide-icon">+</span></div>
                <div class="menu-item-content">
                    <div class="bg-title">リラックス</div>
                    <span class="bg-item active" id="green"></span>
                    <span class="bg-item" id="blue"></span>
                    <span class="bg-item" id="gray"></span>
                    <div class="bg-title">活力を出す</div>
                    <span class="bg-item" id="red"></span>
                    <span class="bg-item" id="yellow"></span>
                    <span class="bg-item" id="black"></span>
                </div>
            </li>
            <li class="menu-item">
                <div class="menu-item-title">BGM<span class="slide-icon">+</span></div>
                <div class="menu-item-content">
                    <span class="bg-item active" id="green"></span>
                    <span class="bg-item" id="blue"></span>
                    <span class="bg-item" id="yellow"></span>
                </div>
            </li>
        </ul>
        <div class="timer-img"><img src="/images/timer.webp" alt="timer"></div>
        <p id="default">お疲れさまでした!</p>
            <input id="button1" type="button" value="始める" onclick="count_start()">
    </main>
    <audio src="/images/clock.mp3" id="clock"></audio>
    <audio src="/images/countdown.mp3" id="countdown"></audio>
    <audio src="/images/end.mp3" id="end"></audio>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="js/jquery.js"></script>
    <script src="js/script.js"></script>
</body>
</html>