<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ストレッチタイマー</title>
    <link rel="icon" href="./images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <main class="sign">
      <div class="container">
          <div class="panel">
            <h1>ログイン</h1>
            <form action="/login" method="post" class="signup-form">
              <input class="signup" type="text" name="username" placeholder="ユーザー名">
              <input class="signup" type="email" name="email" placeholder="info@example.com">
              <input class="signup" type="password" name="password" placeholder="パスワード">
              <input class="submit-btn" type="submit" value="ログインする">
            </form>
            <p class="login-text">アカウント作成がまだの方は<a href="/signup">新規登録する</a></p>
            <a href="/" class="exit">タイマーに戻る</a>
          </div>
        </div>
    </main>  
</body>
</html>