<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ストレッチタイマー</title>
    <link rel="icon" href="./images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <main class="sign">
      <div class="container">
        <div class="panel">
          <h1>新規登録</h1>
          <% if (errors.length > 0) { %>
            <ul class="errors">
              <% errors.forEach(error => { %>
                <li class="error-content"><%= error %></li>
              <% }); %>
            </ul>
          <% } %>
          <form action="/signup" method="post" class="signup-form">
            <input class="signup" type="text" name="username" placeholder="ユーザー名">
            <input class="signup" type="email" name="email" placeholder="info@example.com">
            <div class="password-wrapper">
              <input class="signup" type="password" name="password" placeholder="パスワード">
              <i id="eye" class="fa-solid fa-eye"></i>
            </div>
            <input class="submit-btn" type="submit" value="登録する">
          </form>
          <p class="login-text">アカウントをお持ちの場合<a href="/login">ログインする</a></p>
          <a href="/" class="exit">タイマーに戻る</a>
        </div>
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="js/jquery.js"></script>
    <script src="js/script.js"></script>  
</body>
</html>