/*-----------------------------base-----------------------------*/

html{
    font-size: 62.5%;
}
body{
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: bold;
    font-size: 4rem;
}
html,body{
    overflow-x: hidden;
}
img{
    width: 100%;
}

h1{
    color: red;
}
/*-----------------------------//base-----------------------------*/

/*-----------------------------header-----------------------------*/
.header{
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
    box-sizing: border-box;
}
.header-inner{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-title{
    display: flex;
    text-align: center;
}

/*-----------------------------//header-----------------------------*/
.hello{
    font-size: 60px;
}